.App {
  text-align: center;
  .App-container {
    padding-top: 45px;
    display: inline-block;

    input {
      font-size: 25px;
      padding: 2px 0;
      vertical-align: bottom;
    }

    button {
      background-color: #679FFF;
      border: none;
      color: #fff;
      padding: 10px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 5px;
    }

    ul {
      padding: 0px;
    }

    li {
      list-style-type: none;
      font-size: 30px;
    }

    .loading-message {
      position: absolute;
      padding: 2px 0 0 34px;
      top: 1%;
      left: 46%;
      background-image: url(./images/Spinner.svg);
      background-repeat: no-repeat;
      background-size: 22%;
      background-position: left;
    }
  }

}
